@charset "utf-8";
/* CSS Document */


.lft{float:left; display:inline;}
.rgt{float:right; display:inline;}
.clr{clear:both;}
.brdr{border:solid 1px #000;}
h1,p,h2,h3,h4,h5,h6,form,div,ul,li{margin:0px; padding:0px;}
a img{border:none; float:left; font-weight:normal;}
.map{padding:0px; margin:0px;}
.input{ margin:0px; padding:0px; display:inline;}


.main_table1{ background-color:#f5f5f5; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #dddddd; }
.padding001{ padding-left:10px;}
.mainboxdiv{ width:700px; height:auto; float:left;}
.clenderbox{ width:372px; height:334px; float:left;}
.clenderbox img{ width:372px; height:334px; float:left;}


.text_project{ color:#000000; font-size:14px; font-weight:normal;}
.text_project h1{ color:#000000; font-size:14px; font-weight:bold; padding-top:6px;}
.text_project select{ width:200px; height:25px; color:#000000; font-size:14px; font-weight:normal;}
.text_project input{ width:auto; height:25px; color:#000000; font-size:14px; font-weight:normal;}
.text_project textarea{ width:200px; height:60px; color:#000000; font-size:14px; font-weight:normal;}
.text_project a img{ color:#000000; font-size:14px; font-weight:bold; margin-top:3px; display:inline;}
